/**
* app styles using sass
*/


.table {
	width:100%;
	
	thead {
		background-color:#dff0d8;
	}
	
	/*th,td {
		border: 1px solid black;
	}*/
}

.uppercase {
    text-transform: uppercase;
    
    &:placeholder-shown {
	    text-transform: none;
	}
}